<div class="btn-group float_relative" role="group" aria-label="...">
  <%= link_to entity, class: "btn btn-default", role: "button" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
  <% end %>
  <%= link_to edit_team_path(entity), class: "btn btn-default", role: "button" do %>
      <span class="glyphicon glyphicon-pencil"></span>
  <% end if @entity.is_a?(Team)   %>
  <%= link_to entity, method: :delete, data: {confirm: 'Are you sure?' },  class: "btn btn-danger", role: "button" do %>
      <span class="glyphicon glyphicon-remove"></span>
  <% end if @entity.is_a?(Team)  %>
  <%= link_to entity, method: :delete, data: {confirm: 'Are you sure?' },  class: "btn btn-danger", role: "button" do %>
      <span class="glyphicon glyphicon-log-out"></span>
  <% end if @entity.is_a?(Mutant)  %>
</div>