<h1>Teams</h1>
<div class="container">
  <div class="row">
    <% @teams.each do |team| %>
        <%= render partial: 'shared/mini_profile', locals: { :entity => team, :from => 'team'} %>
    <% end %>
  </div>
</div>