<h1>Teams</h1>
<table>
  <tr>
    <td>
      <% @teams.each do |team| %>
          <%= render partial: 'shared/mini_profile', locals: { :profile => team.as_profile, :entity => team} %>
      <% end %>
    </td>
  </tr>
</table>