- provide(:title, 'Contact and CV')
%h1 Contact & CV
.jumbotron
  Moisés Déniz Alemán
  %br/
  c\ Alonso Quintero, 15, 1º
  %br/
  Las Palmas de Gran Canaria
  %br/
  Spain
  %br/
  %br/
  Email:
  %a{:href=>"mailto:moisesdenizaleman@gmail.com"} moisesdenizaleman@gmail.com
  %br/
  Web (as Photographer):
  %a{:href=>"http://www.moisesdeniz.com"} www.moisesdeniz.com
  %br/
  Mobile Phone: +34 658518947
  <br/>
  %br/
  %h2 Curriculum Vitae
  ITIS