- provide(:title, 'Help')
%h1 Help
.jumbotron
  This is the X-Teams Help System.
  %br/
  %br/
  This app can be used only by Professor Charles Francis Xavier, no new users allowed.
  %br/
  %br/
  If you feel like the Professor X, you may want try to login as 'xavier@xmen.com' and use the password 'professor'.
  %br/
  %br/
  That's an unsafe tip... but that's a sample app.
  %br/
  %br/
  Enjoy