<% provide(:title, 'Profile') %>
<h1>Your Profile</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'xavier.jpg'%>
      <div class="caption">
        <h3><%= @user.name %></h3>
        <%= @user.email %>
        <h4>Powers</h4>
        <span class="label label-danger">Telepathy</span>
        <span class="label label-primary">Read Minds</span>
        <span class="label label-default">Project his own thoughts</span>
        <span class="label label-success">Manipulate Minds</span>
        <span class="label label-info">Induce mental/physical paralysis</span>
        <span class="label label-warning">Induce lost of memory</span>
        <span class="label label-primary">Induce total amnesia</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <div class="row jumbotron">
      <h3>Biography</h3>
      Charles Francis Xavier was born the son of nuclear researcher Brian Xavier and his wife, Sharon. Following her husband's accidental death, Sharon married Brian's colleague, Kurt Marko. Cain, Kurt's son by a previous marriage, came to live at the Xavier’s Westchester mansion shortly thereafter. A cruel and spiteful boy, he bullied his new stepbrother. As punishment, his father secretly beat him - and young Charles felt his sibling's pain firsthand thanks to the emergence of his mutant telepathic powers. Following their mother’s death, a fire in the family home took Kurt’s life, leaving the stepbrothers alone.
      <br/><br/>
      By the time he graduated high school, Charles was completely bald as a side effect of his mutant nature. He entered Bard College in New York at age 16 and earned his bachelor's degree in biology within two years. He was then accepted into the graduate-studies program at England's prestigious Oxford University, where he earned degrees in genetics and biophysics. There, Charles met and fell in love with a young Scotswoman named Moira Kinross. Their passionate discussions on the subject of genetic mutation gave way to romance, and they planned to marry. Their only obstacle was Moira's former boyfriend, Joe MacTaggert, a lance corporal in the Royal Marines and a bully, just like Cain. In Joe's eyes, Charles was a good-for-nothing intellectual, so Charles enlisted in the military after completing his studies at Oxford to validate himself in terms his rival would understand.
      <br/><br/>
      Charles quickly became something of a legend in the area of search and rescue thanks to his mutant abilities. Attached to the same unit as his stepbrother, Charles was present when Cain deserted under fire during a mission in Asia. Following him in the hope of convincing him to return to their unit, Charles witnessed Cain's discovery of the mystical Ruby of Cyttorak and his transformation into the superhuman Juggernaut. Charles escaped the subsequent cave-in, mistakenly believing his stepbrother was dead.
      <br/><br/>
      More at <%= link_to 'Marvel Profile', 'http://marvel.com/universe/Professor_X', :target => '_blank' %>
    </div>

  </div>
</div>
