<div role="tabpanel" class="tab-pane" id="mutants">
  <br/>
  <div class="row">
  <% mutants.each do |mutant| %>
      <%= render partial: 'shared/mini_profile', locals: { :entity => mutant, :from => 'team'} %>
  <% end %>
  </div>
</div>