<div role="tabpanel" class="tab-pane container" id="tasks">
  <br/>
  <% @entity.tasks.each do |task| %>
      <%= render partial: 'tasks/task_item', locals: { :task => task} %>
  <% end %>
</div>