<div role="tabpanel" class="tab-pane" id="tasks">
  <br/>
      <% @entity.tasks.each do |task|
            partial = @entity.is_a?(Mutant) ? 'tasks/task_item_for_mutant' : 'tasks/task_item_for_team' %>
          <%= render partial: partial, locals: { :task => task} %>
      <% end %>
</div>