<div role="tabpanel" class="tab-pane" id="teams">
  <br/>
  <div class="row">
    <% teams.each do |team| %>
        <%= render partial: 'shared/mini_profile', locals: { :entity => team, :from => 'mutant'} %>
    <% end %>
  </div>
</div>