<div class="btn-group" role="group" aria-label="...">
  <%= link_to entity, class: "btn btn-success", role: "button" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
  <% end %>
  <%= link_to edit_mutant_path(entity), class: "btn btn-primary", role: "button" do %>
      <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
  <%= link_to entity, method: :delete, data: {confirm: 'Are you sure?' },  class: "btn btn-danger", role: "button" do %>
      <span class="glyphicon glyphicon-remove"></span>
  <% end unless entity.is_professor_xavier %>
</div>