<h1>Mutants</h1>
<table>
  <tr>
    <td>
      <% @mutants.each do |mutant| %>
        <%= render partial: 'shared/mini_profile', locals: { :profile => mutant.as_profile, :entity => mutant} %>
    <% end %>
    </td>
  </tr>
</table>