<h1>Mutants</h1>
<div class="container">
  <div class="row">
    <% @mutants.each do |mutant| %>
        <%= render partial: 'shared/mini_profile', locals: { :entity => mutant, :from => 'mutant'} %>
    <% end %>
  </div>
</div>