<footer class="footer">
  <small>
    The X-Teams App by  <%= moises_deniz_aleman%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>